 .u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 712px;
  margin: 75px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}